body {
  font-family: serif;
  background-image: url(assets/bg.jpg);
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  background: white;
  padding: 10px 10px 0px 10px;
  box-shadow: -5px 5px black;
}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
  font-weight: normal;
}

h6 {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 5px;
}

a {
  color: pink;
}
