body {
  background-image: url('../img/bg.png');
  background-size: 100%;
  font-family: Helvetica, sans-serif;
}

#headCont, #mainCont, #navCont {
  display: block;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#headCont {
  background: rgb(72, 87, 120);
  color: white;
  padding-bottom: 20px;
  text-align: right;
}

#navCont {
  background: rgb(21, 28, 54);
  color: white;
  text-align: right;
}

#button {
  display: inline-block;
  width: 225px;
  padding: 0;
  margin: 0;
  text-align: center;
}

#button img {
  width: 64px;
  height: 64px;
}

#navCont a {
  color: white;
  text-decoration: none;
}

#mainCont {
  background: rgb(255, 248, 230);
  color: rgb(21, 28, 54);
  margin-top: 0px;
}
